{% extends "core/base.html" %}

{% block page_title %}Kanban board - {{ object.name }}{% endblock %}

{% block breadcrumbs %}
<nav class="govuk-breadcrumbs" aria-label="Breadcrumb">
  <ol class="govuk-breadcrumbs__list">
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="/">Home</a>
    </li>
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="{% url 'board-detail' board.pk %}">{{ board.name }}</a>
    </li>
    <li class="govuk-breadcrumbs__list-item">
      <span>Backlog</span>
    </li>
  </ol>
</nav>
{% endblock %}

{% block content %}
<h1 class="govuk-heading-l">Backlog for {{ board.name }}</h1>
{% if not is_member %}{% endif %}
{% if not object_list %}
<p class="govuk-body">There's nothing in the backlog. {% if is_member %}<a class="govuk-link govuk-link--no-visited-state" href="{% url 'create-ticket' board.pk %}">Create a ticket</a>{% endif %}</p>
{% else %}
<p class="govuk-body">These tickets have not yet been assigned a status.</p>
<form action="" method="POST">
  {% csrf_token %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-three-quarters">
      <div class="govuk-form-group">
        <div class="govuk-checkboxes govuk-checkboxes--small govuk-list" id="board-columns">
          {% for ticket in object_list %}
          <div class="govuk-checkboxes__item kanban-status">
            <input class="govuk-checkboxes__input" type="checkbox" name="selected_tickets" value="{{ ticket.id }}">
            <label class="govuk-label govuk-checkboxes__label">{{ ticket.title }}</label>
          </div>
          {% endfor %}
        </div>
      </div>
    </div>
    <div class="govuk-grid-column-one-quarter">
      <div class="govuk-form-group">
        <label for="form-action" class="govuk-label">Action</label>
        <select name="form-action" id="form-action" class="govuk-select">
          <option value="">Select an action</option>
          <option value="delete">Delete</option>
          <option value="update-status">Update status</option>
        </select>
      </div>
      <div class="govuk-form-group" id="status-select">
        <label for="status" class="govuk-label">Status</label>
        <select name="status" class="govuk-select">
          <option value="">Select a status</option>
          {% for status in statuses %}
          <option value="{{ status.id }}">{{ status.name }}</option>
          {% endfor %}
        </select>
      </div>
      <input id="submit-button" type="submit" value="Submit" class="govuk-button" data-module="govuk-button">
    </div>
  </div>
</form>
{% endif %}

<script>
  const inputs = document.querySelectorAll(".govuk-checkboxes__input");
  const inputValues = [];

  
  inputs.forEach(input => {
    if (input.checked) {
      inputValues.push(input.value);
    }
    input.addEventListener("change", (e) => {
      if (e.target.checked) {
        inputValues.push(e.target.value);
      } else {
        const index = inputValues.indexOf(e.target.value);
        inputValues.splice(index, 1);
      }
      if (inputValues.length == 0) {
        button.setAttribute("disabled", true);
      } else {
        button.removeAttribute("disabled");
      }
    });
  });

  const button = document.getElementById("submit-button");

  if (inputValues.length == 0) {
    button.setAttribute("disabled", true);
  }

  const statusSelector = document.getElementById("status-select");
  statusSelector.style = "visibility: hidden;"

  const actionSelector = document.getElementById("form-action");
  actionSelector.addEventListener("change", (e) => {
    if (e.target.value === "update-status") {
      statusSelector.style = "visibility: visible;"
    } else {
      statusSelector.style = "visibility: hidden;"
    }
  });
</script>

{% endblock %}