{% extends "core/base.html" %}

{% block page_title %}Kanban board - {{ object.name }}{% endblock %}

{% block breadcrumbs %}
<nav class="govuk-breadcrumbs" aria-label="Breadcrumb">
  <ol class="govuk-breadcrumbs__list">
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="/">Home</a>
    </li>
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="{% url 'board-detail' board.pk %}">{{ board.name }}</a>
    </li>
    <li class="govuk-breadcrumbs__list-item">
      <span>Backlog</span>
    </li>
  </ol>
</nav>
{% endblock %}

{% block content %}
<h1 class="govuk-heading-l">Backlog for {{ board.name }}</h1>
{% if not object_list and not sprints %}
<p class="govuk-body">There's nothing in the backlog. {% if is_member %}<a class="govuk-link govuk-link--no-visited-state" href="{% url 'create-ticket' board.pk %}">Create a ticket</a>{% endif %} {% if is_owner %}or <a class="govuk-link govuk-link--no-visited-state" href="{% url 'sprint-create' board.pk %}">create a sprint</a>{% endif %}</p>
{% else %}

{% if is_owner %}
<p class="govuk-body">
  <a class="govuk-link govuk-link--no-visited-state" href="{% url 'sprint-create' board.pk %}">Create a sprint</a>
</p>
{% endif %}
<form action="" method="POST">
  {% csrf_token %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-three-quarters">
      {% for sprint in sprints %}
      <div class="govuk-grid-row govuk-form-group kanban-sprint">
        <div class="govuk-grid-column-two-thirds">
          <h2 class="govuk-heading-m">{{ sprint.name }}{% if sprint.is_active %} (Active sprint){% endif %}</h2>
          {% if is_member %}
          <p class="govuk-body">
            <a class="govuk-link govuk-link--no-visited-state" href="{% url 'create-ticket' board.pk %}?sprint_id={{ sprint.id }}&page=backlog">Create a ticket</a>
          </p>
          {% endif %}
          {% if sprint.is_active %} 
          <p class="govuk-body">
            <a class="govuk-link govuk-link--no-visited-state" href="{% url 'board-detail' board.pk %}">View board</a>
          </p>
          {% endif %}
          {% if sprint.id != "backlog" and not sprint.is_active %}
          <p class="govuk-body" id="start-sprint-{{ sprint.id }}">
            <a class="govuk-link govuk-link--no-visited-state" href="{% url 'sprint-start' sprint.id %}">Start this sprint</a>
          </p>
          {% endif %}
        </div>
        <div class="govuk-grid-column-one-third">
          <div class="govuk-form-group">
            <label for="form-action" class="govuk-label">Sort by</label>
            <select name="form-action" data-id="{{ sprint.id }}" class="govuk-select kanban-js-sorting">
              <option value="">-</option>
              <option value="status">Status</option>
              <option value="created_at">Creation date</option>
            </select>
          </div>
        </div>
        <div class="govuk-grid-column-full">
          <div class="govuk-checkboxes govuk-checkboxes--small kanban-sprint-container" data-id="{{ sprint.id }}">
            {% for ticket in sprint.tickets %}
            <div class="govuk-checkboxes__item kanban-ticket-small" data-status-order="{{ ticket.status.order }}" data-created-at="{{ ticket.created_at|date:'c'}}" data-sprint="{{ sprint.id }}" data-id="{{ ticket.id }}" draggable="true">
              <input class="govuk-checkboxes__input" type="checkbox" name="selected_tickets" value="{{ ticket.id }}">
              <label class="govuk-label govuk-checkboxes__label">
                <a class="govuk-link govuk-link--no-visited-state" href="{% url 'ticket-detail' ticket.id %}?page=backlog">{{ ticket.title }}</a>
                <span
                class="kanban-status-tag govuk-tag govuk-tag--{{ ticket.status.colour }} govuk-!-font-size-16">{% if ticket.status %}{{ ticket.status.name }}{% else %}Backlog{% endif %}</span>
              </label>
            </div>
            {% endfor %}
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
    <div class="govuk-grid-column-one-quarter">
      <div class="govuk-form-group">
        <label for="form-action" class="govuk-label">Action</label>
        <select name="form-action" id="form-action" class="govuk-select">
          <option value="">Select an action</option>
          <option value="delete">Delete</option>
          <option value="update-status">Update status</option>
        </select>
      </div>
      <div class="govuk-form-group" id="status-select">
        <label for="status" class="govuk-label">Status</label>
        <select name="status" class="govuk-select">
          <option value="">Select a status</option>
          {% for status in statuses %}
          <option value="{{ status.id }}">{{ status.name }}</option>
          {% endfor %}
        </select>
      </div>
      <input id="submit-button" type="submit" value="Submit" class="govuk-button" data-module="govuk-button">
    </div>
  </div>
</form>
{% endif %}

<script>
  const selects = document.querySelectorAll(".kanban-js-sorting");
  selects.forEach(select => {
    const sprintID = select.dataset.id;
    const ticketContainer = document.querySelector(`.kanban-sprint-container[data-id="${sprintID}"]`);
    const tickets = document.querySelectorAll(`.kanban-ticket-small[data-sprint="${sprintID}"]`);
    const sorting = [];
    tickets.forEach(ticket => {
      ticketData = {
        el: ticket,
        createdAt: Date.parse(ticket.dataset.createdAt),
        status: ticket.dataset.statusOrder,
      }
      sorting.push(ticketData);
    });
    select.addEventListener("change", (e) => {
      if (e.target.value == "created_at") {
        sorting.sort((first, second) => first.createdAt - second.createdAt);
        ticketContainer.innerText ="";
        sorting.forEach(item => {
          ticketContainer.appendChild(item.el);
        });
      } else if (e.target.value == "status") {
        sorting.sort((first, second) => first.status - second.status);
        ticketContainer.innerText ="";
        sorting.forEach(item => {
          ticketContainer.appendChild(item.el);
        });
      }
    });
  })

  const inputs = document.querySelectorAll(".govuk-checkboxes__input");
  const inputValues = [];

  inputs.forEach(input => {
    if (input.checked) {
      inputValues.push(input.value);
    }
    input.addEventListener("change", (e) => {
      if (e.target.checked) {
        inputValues.push(e.target.value);
      } else {
        const index = inputValues.indexOf(e.target.value);
        inputValues.splice(index, 1);
      }
      if (inputValues.length == 0) {
        button.setAttribute("disabled", true);
      } else {
        button.removeAttribute("disabled");
      }
    });
  });

  const button = document.getElementById("submit-button");

  if (inputValues.length == 0) {
    button.setAttribute("disabled", true);
  }

  const statusSelector = document.getElementById("status-select");
  statusSelector.style = "visibility: hidden;"

  const actionSelector = document.getElementById("form-action");
  actionSelector.addEventListener("change", (e) => {
    if (e.target.value === "update-status") {
      statusSelector.style = "visibility: visible;"
    } else {
      statusSelector.style = "visibility: hidden;"
    }
  });

  function updateTicketsInColumn(column, ticket_data) {
    fetch("/ajax/tickets/bulk-update-sprint/", {
      method: "POST",
      headers: {
        "X-CSRFToken": "{{ csrf_token }}",
        "Content-Type": "application/json",
      },
      body: JSON.stringify({
        tickets: ticket_data,
      }),
    })
    .then((response) => response.json())
    .catch((err) => console.error(err));
  }

  function updateColumn(column) {
    const tickets = [];
    column.querySelectorAll(".kanban-ticket-small").forEach((ticket, index) => {
      tickets.push({
        id: ticket.dataset.id,
        sprint: column.dataset.id,
        order: index,
      })
    })
    updateTicketsInColumn(column, tickets);
  }

  const tickets = document.querySelectorAll(".kanban-ticket-small");

  tickets.forEach(ticket => {
    ticket.addEventListener("dragstart", (e) => {
      ticket.id = "dragged-ticket";
      e.dataTransfer.effectAllowed = "move";
      // Custom type to identify a task drag
      e.dataTransfer.setData("ticket", "");
    });

    ticket.addEventListener("dragend", (e) => {
      ticket.removeAttribute("id");
    });
  })

  const columns = document.querySelectorAll(".kanban-sprint-container");

  columns.forEach(column => {
    column.addEventListener("dragover", movePlaceholder);
    column.addEventListener("dragleave", (event) => {
      if (column.contains(event.relatedTarget)) return;
      const placeholder = column.querySelector(".kanban-placeholder");
      placeholder?.remove();
    });

    column.addEventListener("drop", (e) => {
      e.preventDefault();
      const draggedTicket = document.getElementById("dragged-ticket");
      const placeholder = column.querySelector(".kanban-placeholder");
      if (!placeholder) return;
      draggedTicket.remove();
      column.insertBefore(draggedTicket, placeholder);
      placeholder.remove();
      updateColumn(column);
    });
  });

  function makePlaceholder(draggedTicket) {
    const placeholder = document.createElement("div");
    placeholder.classList.add("kanban-placeholder");
    placeholder.style.height = `${draggedTicket.offsetHeight}px`;
    return placeholder;
  }

  function movePlaceholder(event) {
    if (!event.dataTransfer.types.includes("ticket")) {
      return;
    }
    event.preventDefault();
    const draggedTicket = document.getElementById("dragged-ticket");
    const column = event.currentTarget;
    const tickets = column.children;
    const existingPlaceholder = column.querySelector(".kanban-placeholder");
    if (existingPlaceholder) {
      const placeholderRect = existingPlaceholder.getBoundingClientRect();
      if (
        placeholderRect.top <= event.clientY &&
        placeholderRect.bottom >= event.clientY
      ) {
        return;
      }
    }
    for (const ticket of tickets) {
      if (ticket.getBoundingClientRect().bottom >= event.clientY) {
        if (ticket === existingPlaceholder) return;
        existingPlaceholder?.remove();
        if (ticket === draggedTicket || ticket.previousElementSibling === draggedTicket)
          return;
        column.insertBefore(
          existingPlaceholder ?? makePlaceholder(draggedTicket),
          ticket,
        );
        return;
      }
    }
    existingPlaceholder?.remove();
    if (tickets.lastElementChild === draggedTicket) return;
    column.append(existingPlaceholder ?? makePlaceholder(draggedTicket));
  }
</script>

{% endblock %}