{% extends "core/base.html" %}

{% block page_title %}Kanban board - {{ object.name }}{% endblock %}

{% block content %}
<h1 class="govuk-heading-xl">{{ object.name }}</h1>

<h2 class="govuk-heading-l">Tickets</h2>
<ul>
  {% for status in statuses %}
  <li>
      <h3>{{ status.name }}</h3>
      <ul>
        {% for ticket in status.tickets.all %}
        <li>
            <a href="{% url 'ticket-detail' ticket.id %}">{{ ticket.title }}</a>
            <p>{{ ticket.description }}</p>
        </li>
        {% endfor %}
      </ul>
  </li>
  {% endfor %}
</ul>
{% endblock %}