{% extends "core/base.html" %}

{% block page_title %}Kanban board - {{ object.name }}{% endblock %}

{% block container_class_override %}govuk-!-padding-right-2 govuk-!-padding-left-2{% endblock %}
{% block main_class_override %}{% endblock %}

{% block breadcrumbs %}
<nav class="govuk-breadcrumbs" aria-label="Breadcrumb">
  <ol class="govuk-breadcrumbs__list">
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="/">Home</a>
    </li>
    <li class="govuk-breadcrumbs__list-item">
      <span>{{ object.name }}</span>
    </li>
  </ol>
</nav>
{% endblock %}

{% block content %}
<h1 class="govuk-heading-m">{{ object.name }}</h1>
{% if not is_member %}
<p class="govuk-body">You are not a member of this board.</p>
{% endif %}
{% if object.tickets.all %}
<ul>
  {% if is_member %}
  <li>
    <a class="govuk-link govuk-link--no-visited-state" href="{% url 'create-ticket' object.pk %}">Create a ticket</a>
  </li>
  {% endif %}
  <li>
    <a class="govuk-link govuk-link--no-visited-state" href="{% url 'board-backlog' object.pk %}">View the backlog</a>
  </li>
  {% if is_owner %}
  <li>
    <a class="govuk-link govuk-link--no-visited-state" href="{% url 'board-settings' object.pk %}">Board settings</a>
  </li>
  {% endif %}
</ul>
{% else %}
{% if is_member %}
<p class="govuk-body">This is your new board. To get started <a class="govuk-link govuk-link--no-visited-state" href="{% url 'create-ticket' object.pk %}">create a ticket</a>.</p>
{% endif %}
{% if is_owner %}
<p class="govuk-body">
  <a class="govuk-link govuk-link--no-visited-state" href="{% url 'board-settings' object.pk %}">Board settings</a>
</p>
{% endif %}
{% endif %}

<div class="kanban-container">
    {% for status in statuses %}
    <div class="kanban-column">
      <h2 class="kanban-header govuk-heading-s">{{ status.name }}</h2>
      <div class="kanban-ticket-list" data-status="{{ status.id }}">
      {% for ticket in status.tickets.all %}
        <a class="govuk-link govuk-link--no-visited-state kanban-ticket" href="{% url 'ticket-detail' ticket.id %}" {% if is_member %}draggable="true"{% endif %} data-id="{{ ticket.id }}">
            <p class="govuk-!-font-size-16 govuk-link govuk-link--no-visited-state">{{ ticket.title }}</p>
            <div class="govuk-!-margin-top-2 kanban-ticket-footer">
              <span class="govuk-tag govuk-tag--turquoise govuk-!-font-size-16">ID: {{ ticket.id }}</span>
              {% if ticket.assignee %}<span title="{{ ticket.assignee.get_full_name }}" class="kanban-assignee-tag govuk-tag govuk-tag--light-blue govuk-!-font-size-16">{{ ticket.assignee_initials }}</span>
              {% else %}<span title="No assignee" class="kanban-assignee-tag govuk-tag govuk-tag--light-blue govuk-!-font-size-16">—</span>{% endif %}
            </div>
        </a>
        {% endfor %}
      </div>
    </div>
    {% endfor %}
</div>

{% if is_member %}
<script>
  function updateTicket(ticket, column, order) {
    fetch("/ajax/tickets/update-status/", {
      method: "POST",
      headers: {
        "X-CSRFToken": "{{ csrf_token }}",
        "Content-Type": "application/json",
      },
      body: JSON.stringify({
        id: ticket,
        status: column,
        order: order,
      }),
    })
    .then((response) => response.json())
    .catch((err) => console.error(err));
  }

  function updateTicketsInColumn(column, ticket_data) {
    fetch("/ajax/tickets/bulk-update-status/", {
      method: "POST",
      headers: {
        "X-CSRFToken": "{{ csrf_token }}",
        "Content-Type": "application/json",
      },
      body: JSON.stringify({
        tickets: ticket_data,
      }),
    })
    .then((response) => response.json())
    .catch((err) => console.error(err));
  }

  function updateColumn(column) {
    const tickets = [];
    column.querySelectorAll(".kanban-ticket").forEach((ticket, index) => {
      tickets.push({
        id: ticket.dataset.id,
        status: column.dataset.status,
        order: index,
      })
    })
    updateTicketsInColumn(column, tickets);
  }

  const tickets = document.querySelectorAll(".kanban-ticket");

  tickets.forEach(ticket => {
    ticket.addEventListener("dragstart", (e) => {
      ticket.id = "dragged-ticket";
      e.dataTransfer.effectAllowed = "move";
      // Custom type to identify a task drag
      e.dataTransfer.setData("ticket", "");
    });

    ticket.addEventListener("dragend", (e) => {
      ticket.removeAttribute("id");
    });
  })

  const columns = document.querySelectorAll(".kanban-ticket-list");

  columns.forEach(column => {
    column.addEventListener("dragover", movePlaceholder);
    column.addEventListener("dragleave", (event) => {
      if (column.contains(event.relatedTarget)) return;
      const placeholder = column.querySelector(".kanban-placeholder");
      placeholder?.remove();
    });

    column.addEventListener("drop", (e) => {
      e.preventDefault();
      const draggedTicket = document.getElementById("dragged-ticket");
      const placeholder = column.querySelector(".kanban-placeholder");
      if (!placeholder) return;
      draggedTicket.remove();
      column.insertBefore(draggedTicket, placeholder);
      placeholder.remove();
      updateColumn(column);
    });
  });

  function makePlaceholder(draggedTicket) {
    const placeholder = document.createElement("li");
    placeholder.classList.add("kanban-placeholder");
    placeholder.style.height = `${draggedTicket.offsetHeight}px`;
    return placeholder;
  }

  function movePlaceholder(event) {
    if (!event.dataTransfer.types.includes("ticket")) {
      return;
    }
    event.preventDefault();
    const draggedTicket = document.getElementById("dragged-ticket");
    const column = event.currentTarget;
    const tickets = column.children;
    const existingPlaceholder = column.querySelector(".kanban-placeholder");
    if (existingPlaceholder) {
      const placeholderRect = existingPlaceholder.getBoundingClientRect();
      if (
        placeholderRect.top <= event.clientY &&
        placeholderRect.bottom >= event.clientY
      ) {
        return;
      }
    }
    for (const ticket of tickets) {
      if (ticket.getBoundingClientRect().bottom >= event.clientY) {
        if (ticket === existingPlaceholder) return;
        existingPlaceholder?.remove();
        if (ticket === draggedTicket || ticket.previousElementSibling === draggedTicket)
          return;
        column.insertBefore(
          existingPlaceholder ?? makePlaceholder(draggedTicket),
          ticket,
        );
        return;
      }
    }
    existingPlaceholder?.remove();
    if (tickets.lastElementChild === draggedTicket) return;
    column.append(existingPlaceholder ?? makePlaceholder(draggedTicket));
  }
</script>
{% endif %}

{% endblock %}