{% extends "core/base.html" %}
{% load crispy_forms_tags %}

{% block page_title %}Kanban board - {{ object.name }}{% endblock %}


{% block breadcrumbs %}
<nav class="govuk-breadcrumbs" aria-label="Breadcrumb">
  <ol class="govuk-breadcrumbs__list">
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="/">Home</a>
    </li>
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="{% url 'board-detail' object.pk %}">{{ object.name }}</a>
    </li>
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="{% url 'board-settings' object.pk %}">Board settings</a>
    </li>
    <li class="govuk-breadcrumbs__list-item">
      <span>Edit columns</span>
    </li>
  </ol>
</nav>
{% endblock %}

{% block content %}
<h1 class="govuk-heading-l">Manage columns</h1>
<p class="govuk-body">
  <a class="govuk-!-font-size-16 govuk-link govuk-link--no-visited-state" href="{% url 'status-create' object.pk %}">Add a new column</a>
</p>
<p class="govuk-body">Drag and drop to reorder</p>
<form action="" method="POST">
  {% csrf_token %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-three-quarters">
      <div class="govuk-form-group">
        <div class="govuk-checkboxes govuk-checkboxes--small" id="board-columns">
          {% for status in object.statuses.all %}
          <div class="govuk-checkboxes__item kanban-ticket-small" {% if not status.name == 'Done' and not status.name == 'To do' %}draggable="true"{% endif %} data-id="{{ status.id }}">
            {% if not status.name == "Done" and not status.name == "To do" %}
            <input class="govuk-checkboxes__input" type="checkbox" name="selected_status" value="{{ status.id }}">
            <label class="govuk-label govuk-checkboxes__label"><span id="current-{{ status.id}}">{{ status.name }}</span></label>
            {% if is_owner %}
            <p class="govuk-body kanban-status kanban-status--action">
              <a class="govuk-link govuk-link--no-visited-state" href="{% url 'status-edit' status.id %}">Rename</a>
            </p>
            {% endif %}
            {% else %}
            <p class="govuk-body kanban-status kanban-protected">{{ status.name }}</p>
            {% endif %}
          </div>
          {% endfor %}
        </div>
      </div>
    </div>
    <div class="govuk-grid-column-one-quarter">
      <div class="govuk-form-group">
        <label for="form-action" class="govuk-label">Action</label>
        <select name="form-action" class="govuk-select">
          <option value="">Select an action</option>
          <option value="delete">Delete</option>
        </select>
      </div>
      <input type="submit" value="Submit" class="govuk-button" data-module="govuk-button" id="submit-button">
    </div>
  </div>
</form>


<script>
  const inputs = document.querySelectorAll(".govuk-checkboxes__input");
  const inputValues = [];

  inputs.forEach(input => {
    if (input.checked) {
      inputValues.push(input.value);
    }
    input.addEventListener("change", (e) => {
      if (e.target.checked) {
        inputValues.push(e.target.value);
      } else {
        const index = inputValues.indexOf(e.target.value);
        inputValues.splice(index, 1);
      }
      if (inputValues.length == 0) {
        button.setAttribute("disabled", true);
      } else {
        button.removeAttribute("disabled");
      }
    });
  });

  const button = document.getElementById("submit-button");

  if (inputValues.length == 0) {
    button.setAttribute("disabled", true);
  }

  function updateBoardColumnsOrder(column, status_data) {
    fetch("/ajax/statuses/bulk-update/", {
      method: "POST",
      headers: {
        "X-CSRFToken": "{{ csrf_token }}",
        "Content-Type": "application/json",
      },
      body: JSON.stringify({
        statuses: status_data,
      }),
    })
    .then((response) => response.json())
    .catch((err) => console.error(err));
  }

  function updateColumn(column) {
    const statuses = [];
    column.querySelectorAll(".kanban-ticket-small").forEach((status, index) => {
      statuses.push({
        id: status.dataset.id,
        order: index,
      })
    })
    updateBoardColumnsOrder(column, statuses);
  }

  const tickets = document.querySelectorAll(".kanban-ticket-small");

  tickets.forEach(ticket => {
    ticket.addEventListener("dragstart", (e) => {
      ticket.id = "dragged-ticket";
      e.dataTransfer.effectAllowed = "move";
      // Custom type to identify a task drag
      e.dataTransfer.setData("ticket", "");
    });

    ticket.addEventListener("dragend", (e) => {
      ticket.removeAttribute("id");
    });
  })

  const column = document.getElementById("board-columns");

  column.addEventListener("dragover", movePlaceholder);
  column.addEventListener("dragleave", (event) => {
    if (column.contains(event.relatedTarget)) return;
    const placeholder = column.querySelector(".kanban-placeholder");
    placeholder?.remove();
  });

  column.addEventListener("drop", (e) => {
    e.preventDefault();
    const draggedTicket = document.getElementById("dragged-ticket");
    const placeholder = column.querySelector(".kanban-placeholder");
    if (!placeholder) return;
    draggedTicket.remove();
    column.insertBefore(draggedTicket, placeholder);
    placeholder.remove();
    updateColumn(column);
  });

  function makePlaceholder(draggedTicket) {
    const placeholder = document.createElement("div");
    placeholder.classList.add("kanban-placeholder");
    placeholder.style.height = `${draggedTicket.offsetHeight}px`;
    return placeholder;
  }

  function movePlaceholder(event) {
    if (!event.dataTransfer.types.includes("ticket")) {
      return;
    }
    event.preventDefault();
    const draggedTicket = document.getElementById("dragged-ticket");
    const column = event.currentTarget;
    const tickets = column.children;
    const existingPlaceholder = column.querySelector(".kanban-placeholder");
    if (existingPlaceholder) {
      const placeholderRect = existingPlaceholder.getBoundingClientRect();
      if (
        placeholderRect.top <= event.clientY &&
        placeholderRect.bottom >= event.clientY
      ) {
        return;
      }
    }
    for (const ticket of tickets) {
      if (ticket.getBoundingClientRect().bottom >= event.clientY) {
        if (ticket === existingPlaceholder) return;
        existingPlaceholder?.remove();
        if (ticket === draggedTicket || ticket.previousElementSibling === draggedTicket)
          return;
        column.insertBefore(
          existingPlaceholder ?? makePlaceholder(draggedTicket),
          ticket,
        );
        return;
      }
    }
    existingPlaceholder?.remove();
    if (tickets.lastElementChild === draggedTicket) return;
    column.append(existingPlaceholder ?? makePlaceholder(draggedTicket));
  }
</script>
{% endblock %}