{% extends "core/base.html" %}

{% block page_title %}Kanban board - {{ object.name }}{% endblock %}

{% block container_class_override %}govuk-!-padding-2{% endblock %}
{% block main_class_override %}{% endblock %}

{% block content %}
<nav class="govuk-breadcrumbs" aria-label="Breadcrumb">
  <ol class="govuk-breadcrumbs__list">
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="/">Home</a>
    </li>
    <li class="govuk-breadcrumbs__list-item">
      <span>{{ object.name }}</span>
    </li>
  </ol>
</nav>

<h1 class="govuk-heading-m">{{ object.name }}</h1>

<div class="kanban-container">
    {% for status in statuses %}
    <div class="kanban-column">
      <h2 class="kanban-header govuk-heading-s">{{ status.name }}</h2>
      <ul class="kanban-ticket-list" data-status="{{ status.id }}">
      {% for ticket in status.tickets.all %}
        <li>
          <div class="kanban-ticket" draggable="true" data-id="{{ ticket.id }}">
            <a class="govuk-!-font-size-16 govuk-link govuk-link--no-visited-state" href="{% url 'ticket-detail' ticket.id %}">{{ ticket.title }}</a>
            <p class="govuk-!-font-size-16">ID: {{ ticket.id }}</p>
          </div>
        </li>
        {% endfor %}
      </ul>
    </div>
    {% endfor %}
</div>
<script>
  function updateTicket(draggedTicket, column) {
    console.log("updating", draggedTicket);
    fetch("/ajax/tickets/update-status/", {
      method: "POST",
      headers: {
        "X-CSRFToken": "{{ csrf_token }}",
        "Content-Type": "application/json",
      },
      body: JSON.stringify({
        id: draggedTicket.dataset.id,
        status: column.dataset.status,
      }),
    })
    .then((response) => response.json())
    .catch((err) => console.error(err));
  }

  const tickets = document.querySelectorAll(".kanban-ticket");

  tickets.forEach(ticket => {
    ticket.addEventListener("dragstart", (e) => {
      ticket.id = "dragged-ticket";
      e.dataTransfer.effectAllowed = "move";
      // Custom type to identify a task drag
      e.dataTransfer.setData("ticket", "");
    });

    ticket.addEventListener("dragend", (e) => {
      ticket.removeAttribute("id");
    });
  })

  const columns = document.querySelectorAll(".kanban-ticket-list");

  columns.forEach(column => {
    column.addEventListener("dragover", (e) => {
      e.preventDefault();
    });

    column.addEventListener("drop", (e) => {
      e.preventDefault();
      const draggedTicket = document.getElementById("dragged-ticket");
      draggedTicket.remove();
      column.appendChild(draggedTicket);
      updateTicket(draggedTicket, column);
    });
  });
</script>
{% endblock %}