{% extends "core/base.html" %}
{% load crispy_forms_tags %}

{% block page_title %}Kanban board - {{ object.name }}{% endblock %}

{% block breadcrumbs %}
<nav class="govuk-breadcrumbs" aria-label="Breadcrumb">
  <ol class="govuk-breadcrumbs__list">
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="/">Home</a>
    </li>
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="{% url 'board-detail' object.board.pk %}">{{ object.board.name }}</a>
    </li>
    <li class="govuk-breadcrumbs__list-item">
      <span>Ticket</span>
    </li>
  </ol>
</nav>
{% endblock %}

{% block content %}
<h1 class="govuk-heading-l"><span id="current-title">{{ object.title }}</span></h1>
{% if is_member and not object.sprint.is_completed %}
<form action="" method="POST" id="form-title">
  {% crispy title_form %}
</form>
<a href="#" id="change-title" class="govuk-link govuk-link--no-visited-state">Change</a>
{% endif %}
<dl class="govuk-summary-list">
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">Author:</dt>
    <dd class="govuk-summary-list__value">{% if object.author and not object.sprint.is_completed %}{{ object.author.get_full_name }}{% else %}—{% endif %}</dd>
  </div>
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">Assignee:</dt>
    <dd class="govuk-summary-list__value">
      <span id="current-assignee">{% if object.assignee %}{{ object.assignee.get_full_name }}{% else %}—{% endif %}</span>
      {% if is_member and not object.sprint.is_completed %}
      <form action="" method="POST" id="form-assignee">
        {% crispy assignee_form %}
      </form>
      {% endif %}
    </dd>
    {% if is_member and not object.sprint.is_completed %}
    <dd class="govuk-summary-list__actions"><a href="#" id="change-assignee" class="govuk-link govuk-link--no-visited-state">Change</a></dd>
    {% endif %}
  </div>
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">Created at:</dt>
    <dd class="govuk-summary-list__value">{{ object.created_at }}</dd>
  </div>
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">Updated at:</dt>
    <dd class="govuk-summary-list__value">{{ object.updated_at }}</dd>
  </div>
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">Status:</dt>
    <dd class="govuk-summary-list__value">
      <span id="current-status">{{ object.status.name }}</span>
      {% if is_member and not object.sprint.is_completed %}
      <form action="" method="POST" id="form-status">
        {% crispy status_form %}
      </form>
      {% endif %}
    </dd>
    {% if is_member and not object.sprint.is_completed %}
    <dd class="govuk-summary-list__actions"><a href="#" id="change-status" class="govuk-link govuk-link--no-visited-state">Change</a></dd>
    {% endif %}
  </div>
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">Description:</dt>
    <dd class="govuk-summary-list__value">
      <span id="current-description">{{ object.description }}</span>
      {% if is_member and not object.sprint.is_completed %}
      <form action="" method="POST" id="form-description">
        {% crispy description_form %}
      </form>
      {% endif %}
    </dd>
    {% if is_member and not object.sprint.is_completed %}
    <dd class="govuk-summary-list__actions"><a href="#" id="change-description" class="govuk-link govuk-link--no-visited-state">Change</a></dd>
    {% endif %}
  </div>
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">Board:</dt>
    <dd class="govuk-summary-list__value">{{ object.board }}</dd>
  </div>
</dl>

{% if is_member %}
<p class="govuk-body"><a href="#" class="govuk-link govuk-link--no-visited-state" id="add-comment">Add a comment</a></p>
{% endif %}

<form action="" method="POST" id="comment-form">
  {% csrf_token %}
  {% crispy comment_form %}
</form>

{% for comment in ticket_comments %}
<div class="govuk-!-width-full kanban-comment">
  <p class="govuk-body">
    <span class="kanban-comment--author">{{ comment.author.get_full_name }}</span><br/>
    <time class="govuk-body govuk-!-font-size-16">{{ comment.created_at }}</time>
  </p>
  <p class="govuk-body">{{ comment.text }}</p>
</div>
{% endfor %}

{% if is_member and not object.sprint.is_completed %}
<script>
  const fields = {{ fields|safe }};
  const commentFormErrored = {{ comment_form_errored|safe }};

  fields.forEach(field => {
    const currentValue = document.getElementById(`current-${field}`);
    const form = document.getElementById(`form-${field}`);
    form.style = "display: none";
    const selectBox = form.querySelector("select");

    let formVisible = false;

    const changeLink = document.getElementById(`change-${field}`);

    function showForm() {
      if (formVisible) {
        changeLink.innerHTML = "Change";
        form.style = "display: none";
        currentValue.style = "display: inline";
        formVisible = false;
      } else {
        changeLink.innerHTML = "Cancel";
        form.style = "display: block";
        currentValue.style = "display: none";
        formVisible = true;
        selectBox.focus();
      }
    }

    changeLink.addEventListener("click", showForm);
  });

  const commentForm = document.getElementById("comment-form");
  const input = commentForm.querySelector("textarea");
  const commentLink = document.getElementById("add-comment");

  let commentFormVisible = commentFormErrored;

  if (!commentFormVisible) {
    commentForm.style = "display: none";
  } else {
    commentLink.innerHTML = "Cancel";
    commentForm.style = "display: block";
  }


  function showForm() {
    if (commentFormVisible) {
      commentLink.innerHTML = "Add a comment";
      commentForm.style = "display: none";
      commentFormVisible = false;
    } else {
      commentLink.innerHTML = "Cancel";
      commentForm.style = "display: block";
      commentFormVisible = true;
      input.focus();
    }
  }

  commentLink.addEventListener("click", showForm);
</script>
{% endif %}

{% endblock %}