{% extends "core/base.html" %}
{% load crispy_forms_tags %}

{% block page_title %}Kanban board - {{ object.name }}{% endblock %}

{% block breadcrumbs %}
<nav class="govuk-breadcrumbs" aria-label="Breadcrumb">
  <ol class="govuk-breadcrumbs__list">
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="/">Home</a>
    </li>
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="{% url 'board-detail' object.board.pk %}">{{ object.board.name }}</a>
    </li>
    <li class="govuk-breadcrumbs__list-item">
      <span>Ticket</span>
    </li>
  </ol>
</nav>
{% endblock %}

{% block content %}
<h1 class="govuk-heading-l">{{ object.title }}</h1>
<a class="govuk-link govuk-link--no-visited-state" href="{% url 'ticket-edit' object.id %}">Edit this ticket</a>
<dl class="govuk-summary-list">
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">Author:</dt>
    <dd class="govuk-summary-list__value">{% if object.author %}{{ object.author.get_full_name }} ({{ object.author.email }}){% else %}—{% endif %}</dd>
  </div>
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">Assignee:</dt>
    <dd class="govuk-summary-list__value">
      <span id="current-assignee">{% if object.assignee %}{{ object.assignee.get_full_name }} ({{ object.assignee.email }}){% else %}—{% endif %}</span>
      <form action="" method="POST" id="assignee">
        {% crispy form %}
      </form>
    </dd>
    <dd class="govuk-summary-list__actions"><a href="#" id="change-assignee" class="govuk-link govuk-link--no-visited-state">Change</a></dd>
  </div>
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">Created at:</dt>
    <dd class="govuk-summary-list__value">{{ object.created_at }}</dd>
  </div>
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">Updated at:</dt>
    <dd class="govuk-summary-list__value">{{ object.updated_at }}</dd>
  </div>
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">Status:</dt>
    <dd class="govuk-summary-list__value">{{ object.status.name }}</dd>
  </div>
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">Description:</dt>
    <dd class="govuk-summary-list__value">{{ object.description }}</dd>
  </div>
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">Board:</dt>
    <dd class="govuk-summary-list__value">{{ object.board }}</dd>
  </div>
</dl>

<script>
  const currentAssignee = document.getElementById("current-assignee");
  const form = document.getElementById("assignee");
  form.style = "display: none";
  const selectBox = form.querySelector("select");
  let formVisible = false;

  const changeLink = document.getElementById("change-assignee");

  function showForm() {
    if (formVisible) {
      changeLink.innerHTML = "Change";
      form.style = "display: none";
      currentAssignee.style = "display: inline";
      formVisible = false;
    } else {
      changeLink.innerHTML = "Cancel";
      form.style = "display: block";
      currentAssignee.style = "display: none";
      formVisible = true;
      selectBox.focus();
    }
  }

  changeLink.addEventListener("click", showForm);

</script>
{% endblock %}