.kanban-header {
  border-top: 5px solid #fff;
  border-bottom: 0;
  margin-bottom: 0;
  padding-top: 10px;
  padding-bottom: 10px;
}

.kanban-header, .kanban-ticket-list {
  background-color: #F8F8F9;
  padding-left: 10px;
  padding-right: 10px;
  border-left: 5px solid #fff;
  border-right: 5px solid #fff;
}

.kanban-column {
  display: flex;
  flex-direction: column;
  min-width: 270px;
}

.kanban-ticket-list {
  list-style-type: none;
  margin: 0;
  flex-direction: column;
  display: flex;
  flex-grow: 1;
  min-height: 300px;
}

.kanban-container {
  display: flex;
  margin-bottom: 20px;
  overflow: scroll;
}

.kanban-ticket {
  background-color: white;
  padding: 10px;
  box-shadow: 1px 1px 2px #eaebec;
  margin-bottom: 5px;
}

.kanban-ticket:hover .kanban-ticket-footer {
  text-decoration: none;
}

.kanban-placeholder {
  border: 2px dashed #1d70b8;
  border-radius: 3px;
}

.kanban-ticket-small {
  border: 1px solid #eaebec;
  border-radius: 3px;
  background-color: white;
  box-shadow: 1px 1px 2px #eaebec;
  margin-bottom: 5px !important;
}

.kanban-ticket-small-tag {
  display: flex;
  align-items: center;
}

.govuk-checkboxes--small .kanban-ticket-small label.govuk-checkboxes__label:before {
  left: 10px;
}

.govuk-checkboxes--small .kanban-ticket-small label.govuk-checkboxes__label:after {
  left: 16px;
}

.govuk-checkboxes--small .kanban-ticket-small .govuk-checkboxes__input {
  margin-left: 0;
}

.govuk-summary-list__key, .govuk-summary-list__actions {
  vertical-align: top;
}

.kanban-assignee-tag {
  display: block;
  float: right;
}

.kanban-sprint-container {
  background-color: #F8F8F9;
  padding: 10px;
  min-height: 100px;
}

.kanban-status {
  padding: 7px 15px;
  margin-bottom: 0;
}

.kanban-status--action {
  display: flex;
  flex-direction: row-reverse;
  flex-grow: 1;
}

.kanban-status--action a {
  flex-direction: row-reverse;
}

.kanban-protected {
  cursor: not-allowed;
}

.kanban-comment {
  border-radius: 5px;
  border: 1px solid #e3e3e6;
  padding: 10px;
  margin-bottom: 10px;
}

.kanban-comment--author {
  font-weight: bold;
}