.kanban-header {
  border-top: 5px solid #fff;
  border-bottom: 0;
  margin-bottom: 0;
  padding-top: 10px;
  padding-bottom: 10px;
}

.kanban-header, .kanban-ticket-list {
  background-color: #F8F8F9;
  padding-left: 10px;
  padding-right: 10px;
  border-left: 5px solid #fff;
  border-right: 5px solid #fff;
}

.kanban-column {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  max-width: 270px;
}

.kanban-ticket-list {
  list-style-type: none;
  margin: 0;
  flex-direction: column;
  display: flex;
  flex-grow: 1;
  min-height: 300px;
}

.kanban-container {
  display: flex;
  margin-bottom: 20px;
}

.kanban-ticket {
  background-color: white;
  padding: 10px;
  box-shadow: 1px 1px 2px #eaebec;
  margin-bottom: 5px;
}

.kanban-placeholder {
  border: 2px dashed #1d70b8;
  border-radius: 3px;
}