/* ckeditor styles */
@media print {
	body {
		margin: 0 !important;
	}
}

:root {
	--ck-content-font-family: helvetica, arial, sans-serif;
}

.main-container {
	font-family: var(--ck-content-font-family);
	width: fit-content;
	margin-left: auto;
	margin-right: auto;
}

.editor-container_classic-editor .editor-container__editor {
	min-width: 795px;
	max-width: 795px;
}

.editor-container__sidebar_ckeditor-ai:has(.ck-tabs.ck-hidden) {
	max-width: 0;
	min-width: 0;
}

.django-ckeditor-widget {
  display: block !important;
}
/* end ckeditor styles */

body {
  font-family: helvetica,arial,sans-serif;
}

.kanban-header {
  border-top: 5px solid #fff;
  border-bottom: 0;
  margin-bottom: 0;
  padding-top: 10px;
  padding-bottom: 10px;
}

.kanban-header, .kanban-ticket-list {
  background-color: #F8F8F9;
  padding-left: 10px;
  padding-right: 10px;
  border-left: 5px solid #fff;
  border-right: 5px solid #fff;
}

.kanban-column {
  display: flex;
  flex-direction: column;
  min-width: 270px;
}

.kanban-ticket-list {
  list-style-type: none;
  margin: 0;
  flex-direction: column;
  display: flex;
  flex-grow: 1;
  min-height: 300px;
}

.kanban-container {
  display: flex;
  margin-bottom: 20px;
  overflow: scroll;
}

.kanban-ticket {
  background-color: white;
  padding: 10px;
  box-shadow: 1px 1px 2px #eaebec;
  margin-bottom: 5px;
}

.kanban-ticket:hover .kanban-ticket-footer {
  text-decoration: none;
}

.kanban-placeholder {
  border: 2px dashed #1d70b8;
  border-radius: 3px;
}

.kanban-ticket-small {
  border: 1px solid #eaebec;
  border-radius: 3px;
  background-color: white;
  box-shadow: 1px 1px 2px #eaebec;
  margin-bottom: 5px !important;
}

.kanban-ticket-small-tag {
  display: flex;
  align-items: center;
}

.govuk-checkboxes--small .kanban-ticket-small label.govuk-checkboxes__label:before {
  left: 10px;
}

.govuk-checkboxes--small .kanban-ticket-small label.govuk-checkboxes__label:after {
  left: 16px;
}

.govuk-checkboxes--small .kanban-ticket-small .govuk-checkboxes__input {
  margin-left: 0;
}

.govuk-summary-list__key, .govuk-summary-list__actions {
  vertical-align: top;
}

.kanban-assignee-tag {
  display: block;
  float: right;
}

.kanban-sprint-container {
  background-color: #F8F8F9;
  padding: 10px;
  min-height: 100px;
}

.kanban-status {
  padding: 7px 15px;
  margin-bottom: 0;
}

.kanban-status--action {
  display: flex;
  flex-direction: row-reverse;
  flex-grow: 1;
}

.kanban-status--action a {
  flex-direction: row-reverse;
}

.kanban-protected {
  cursor: not-allowed;
}

.kanban-comment {
  border-radius: 5px;
  border: 1px solid #e3e3e6;
  padding: 10px;
  margin-bottom: 10px;
}

.kanban-comment--author {
  font-weight: bold;
}

.kanban-comment a {
  color: rgb(29, 112, 184);
  font-family: helvetica,arial,sans-serif;
  text-decoration: underline;
  text-decoration-thickness: auto;
  text-decoration-thickness: max(1px,.0625rem);
  text-underline-offset: .1578em;
}

.kanban-comment a:hover {
  text-decoration-thickness: max(3px,.1875rem,.12em);
  -webkit-text-decoration-skip-ink: none;
  text-decoration-skip-ink: none;
  -webkit-text-decoration-skip: none;
  text-decoration-skip: none;
  color: #003078;
}